# =========================
# AI models (VERY HEAVY)
# =========================
*.llamafile

# =========================
# docker backups
# =========================
*.tar.gz

# =========================
# piper binaries (FULL)
# =========================
piper/

# =========================
# whisper compiled binary
# =========================
whisper-cli